:root {
    --color_text_login: rgb(40, 40, 60);
    --orange_company_light: rgb(248, 187, 107);
    --orange_company: rgb(219, 148, 56);
    --orange_company_dark: rgb(192, 118, 22);
    --blue_company_light: rgb(130, 211, 231);
    --blue_company: rgb(62, 178, 207);
    --blue_company_dark: rgb(22, 144, 175);
    --background-button: rgb(83, 108, 127);
    --color-text-button: rgb(222, 222, 222);
}

html {
    scroll-behavior: smooth;
}

body {
    text-decoration: none;
    background: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Geist', 'Comic Relief', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#menu-header {
    display: inline-flex;
    background: rgba(240, 199, 112, 0.4);
    width: 100%;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    font-size: 25px;
    font-weight: bolder;
}

.Logo-container {
    display: flex;
    align-items: center;
    left: 0;
}

.Logo {
    height: 70px;
    width: auto;
    justify-self: center;
}

.Logo:hover {
    cursor: pointer;
}

.buttons {
    display: inline-flex;
    justify-self: end;
    align-items: center;
    gap: 20px;
    width: auto;
    height: auto;
}

.button {
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    height: 25px;
    width: auto;
    background-color: var(--background-button);
    color: var(--color-text-button);
    transition: all 0.1s ease-in-out;
}

.button:hover {
    background-color: var(--blue_company_dark);
    color: var(--orange_company_light);
}

.button-icon {
    cursor: pointer;
    border-style: none;
    background: none;
    padding: 0;
}

.button-icon img {
    height: 40px;
    width: auto;
    transition: all 0.1s ease-in-out;
}

.button-icon img:hover {
    transform: scale(1.1);
}

.input {
    border-style: none;
    border-radius: 2px;
}

#cant {
    margin-left: 40px;
    font-size: 15px;
    font-weight: bolder;
}

#menu-option {
    list-style: none;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    gap: 4%;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0 2%;
}

.menu-option a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.1s ease-in-out;
}

.menu-option a:hover {
    color: var(--orange_company);
}

.login-option {
    background: var(--blue_company);
    padding: 0 1.5%;
    border: 3px solid var(--blue_company_dark);
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.login-option a {
    text-decoration: none;
    color: var(--color_text_login);
    font-weight: 10px;
    transition: all 0.1s ease-in-out;
}

.login-option:hover{
    cursor: pointer;
    border-color: var(--blue_company);
    background: var(--blue_company_light);
    --color_text_login: var(--orange_company_dark);
}

.button-menu-display {
    display: none;
    cursor: pointer;
    position: absolute;
    align-self: center;
    right: 20px;
    border: 4px solid black;
    border-radius: 30%;
    padding: 5px;
    user-select: none;
}

.button-menu-display img {
    transition: all 0.2s ease-in-out;
}

.title-container {
    justify-self: center;
}

.title{
    text-align: center;
    text-justify: auto;
    margin: 0;
    padding: 0;
}

.button-menu-display img {
    height: 35px;
    width: auto;
}

.rotate {
    transform: rotate(90deg);
}

@media screen and (max-width: 875px) {
    .button-menu-display {
        display: flex;
    }

    #menu-option {
        display: none;
    }

    #menu-option.show {
        display: block;
        position: absolute;
        justify-items: center;
        top: 70px;
        right: 0;
        width: 30%;
        height: auto;
        border-radius: 0 0 0 20px;
        padding-bottom: 10px;
        background: rgb(120, 103, 65);
        flex-direction: column;
    }
}

.slider-container {
    margin-top: 40px;
    display: inline-flex;
    width: 100%;
    height: auto;
}

#slider {
    position: relative;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-img {
    height: 250px;
    width: 250px;
    margin: 10px;
    background-color: aliceblue;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 10px 0 15px rgb(0, 0, 0);
    height: auto;
    max-width: 1000px;
    background-color: rgb(25, 25, 25);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.customer-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(60, 60, 60);
    background: rgb(50, 50, 50);
    border-radius: 15px;
}

.products-selection {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.products-container {
    display: grid;
    background-color: rgb(40, 40, 40);
    border: 2px solid rgb(0, 0, 0);
    border-top-left-radius: 12px;
    width: 70%;
    height: auto;
    min-height: 50px;
}

.select-products {
    display: inline-flex;
    align-items: center;
    border-style: none;
    margin-left: 20px;
}

.select-products select {
    height: auto;
    border-radius: 4px;
}

/* FONTS SIZE */
.font12 {
    font-size: 12px;
}

.font15 {
    font-size: 15px;
}

.font20 {
    font-size: 20px;
}

.font30 {
    font-size: 30px;
}

.font40 {
    font-size: 40px;
}

.font50{
    font-size: 50px;
}

.font60 {
    font-size: 60px;
}

/* MARGINS */
.margin5 {
    margin: 5px;
}

.margin10 {
    margin: 10px;
}

.margin15 {
    margin: 15px;
}

.margin20 {
    margin: 20px;
}

.margin25 {
    margin: 25px;
}

.margin30 {
    margin: 30px;
}

.margin1vh {
    margin: 1vh;
}

.margin2vh {
    margin: 2vh;
}

.margin3vh {
    margin: 3vh;
}

.margin4vh {
    margin: 4vh;
}

.margin5vh {
    margin: 5vh;
}

/* PADDINGS */
.padding5 {
    padding: 5px;
}

.padding10 {
    padding: 10px;
}

.padding15 {
    padding: 15px;
}

.padding20 {
    padding: 20px;
}

.padding25 {
    padding: 25px;
}

.padding30 {
    padding: 30px;
}

/* DIRECTIONS */
.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

/* WIDTH */
.width10 {
    width: 10%;
}

/* BACKGROUND COLORS */
.background-white {
    background-color: rgb(255, 255, 255);
}

.background-red {
    background-color: rgb(221, 66, 66);
}

.background-green {
    background-color: rgb(82, 221, 72);
}

.background-orange {
    background-color: rgb(213, 123, 67);
}

.width20 {
    width: 20%;
}

.width30 {
    width: 30%;
}

.width40 {
    width: 40%;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}

.width70 {
    width: 70%;
}

.width80 {
    width: 80%;
}

.width90 {
    width: 90%;
}

.width100 {
    width: 100%;
}